@font-face {
  font-family: "SVN Magellin";
  src: url("../fonts/SVN-Magellin.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TH Maginia";
  src: url("../fonts/TH-Maginia.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FzAmericanTypewriter-Light";
  src: url("../fonts/FzAmericanTypewriter-Light.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FzAmericanTypewriter-LightIta";
  src: url("../fonts/FzAmericanTypewriter-LightIta.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FzAmericanTypewriter-MedIta";
  src: url("../fonts/TH-FzAmericanTypewriter-MedIta.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FzAmericanTypewriter-Medium";
  src: url("../fonts/FzAmericanTypewriter-Medium.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "FzAmericanTypewriter-Medium", "Times New Roman", serif;
  background: linear-gradient(135deg, #f5f5f5 0%, #e8e8e8 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  /* width: 100%; */
  background: white;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  border: 8px solid #8b0000;
  position: relative;
}

.header {
  background: url("../images/Layout2535_05.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

.header-text {
  font-family: "SVN Magellin", serif;
  color: white;
  text-align: center;
  font-style: italic;
  font-size: 6rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.header-quote {
  font-family: "FzAmericanTypewriter-Light", serif;
  color: white;
  text-align: center;
  font-style: italic;
  font-size: 1.8rem;
  position: absolute;
  bottom: 35%;
  padding: 0 20px;
}

.save-date {
  background: #8b0000;
  color: white;
  text-align: center;
  margin: -110px auto 0;
  width: 670px;
  max-width: 90%;
  position: relative;
  z-index: 2;
}

.save-date h2 {
  font-family: "FzAmericanTypewriter-Light", serif;
  font-size: 5rem;
  font-style: italic;
  margin-bottom: 0px;
}

.save-date .date {
  font-family: "FzAmericanTypewriter-Light", serif;
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: -10px;
}

.couple-names {
  text-align: center;
  /* padding: 40px 30px 20px; */
}

.couple-names h1 {
  font-family: "TH Maginia", serif;
  font-size: 6rem;
  color: #333;
  /* margin-bottom: 15px; */
  font-weight: 300;
  letter-spacing: 1px;
}

.couple-names .and {
  font-family: "TH Maginia", serif;
  font-size: 5rem;
  font-style: italic;
  line-height: 0.4;
  /* margin: -40px 0 -30px; */
  /* color: #666; */
}

.parents {
  text-align: center;
  padding: 2px 40px;
  font-size: 1.2rem;
  color: #555;
  line-height: 1.1;
}

.parents-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 15px;
}

.parent-section {
  font-family: "FzAmericanTypewriter-Medium", serif;
  font-size: 2.5rem;
}

.parent-section h3 {
  font-weight: bold;
  margin-bottom: 20px;
}

.parent-section p {
  font-family: "FzAmericanTypewriter-Light", serif;
}

.invitation-text {
  font-family: "FzAmericanTypewriter-Light", serif;
  font-size: 2.5rem;
}

.wedding-photo {
  text-align: center;
  padding: 20px 0;
}

.photo-placeholder {
  width: 40%;
  height: 30vh;
  background: url("../images/Layout2535_05.jpg") no-repeat center center;
  background-size: cover;
  background-color: #f0f0f0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
  min-height: 200px;
}

.ceremony-details {
  font-family: "FzAmericanTypewriter-Light", serif;
  font-size: 40px;
  text-align: center;
  line-height: 1.5;
  color: #333;
  padding: 20px;
}

.ceremony-details strong {
  font-size: 40px;
  display: block;
  /* margin: 10px 0; */
}

.calendar {
  text-align: center;
  padding: 20px;
}

#calendar-month {
  font-family: "SVN Magellin", serif;
  font-size: 40px;
}

.calendar table {
  margin: 15px auto;
  border-collapse: collapse;
}

.calendar th,
.calendar td {
  width: 80px;
  height: 80px;
  text-align: center;
  font-size: 20px;
}

.calendar th {
  font-weight: bold;
  color: #666;
  padding-bottom: 5px;
}

.calendar .highlight {
  background: #000000;
  color: white;
  border-radius: 50%;
  position: relative;
}

.calendar .highlight::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
}

.important {
  text-align: center;
  padding: 20px;
}

.important-event {
  font-family: "SVN Magellin", serif;
  font-size: 2.5rem;
  font-style: italic;
}

.important-note {
  font-family: "FzAmericanTypewriter-Light", serif;
  font-size: 2.5rem;
  font-style: italic;
  margin: -50px 0px -10px 300px;
}

.timeline {
  padding: 20px 40px;
  background: #f9f9f9;
}

.timeline-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 15px;
  margin-top: 20px;
}

.timeline-photo-placeholder {
  width: 80%;
  height: 70vh;
  min-height: 30vh;
  background: url("../images/Layout2535_05.jpg") no-repeat center center;
  background-size: cover;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
}

.timeline-details {
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.timeline-item {
  font-family: "FzAmericanTypewriter-Light", serif;
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  margin: 15px 0;
  flex-wrap: wrap;
}

.timeline-item .time {
  color: #333;
  margin-right: 10px;
}

.timeline-message {
  font-family: "FzAmericanTypewriter-Light", serif;
  font-size: 2rem;
  text-align: center;
  font-style: italic;
  color: #555;
  line-height: 1.3;
  padding-top: 40px;
}

.album-section {
  text-align: center;
  padding: 40px 20px;
  background: #f5f5f5;
}

.album-section h3 {
  font-family: "FzAmericanTypewriter-Light", serif;
  font-size: 40px;
  margin-bottom: 10px;
}

.album-section p {
  font-style: italic;
}

.album-section-quote {
  font-family: "SVN Magellin", serif;
  font-size: 40px;
  font-style: italic;
  margin: 10px 0;
}

.guest-section-guestbook {
  font-family: "SVN Magellin", serif;
  font-size: 40px;
  font-style: italic;
  margin: 10px 0;
  text-align: center;
}

.guest-info {
  font-family: "FzAmericanTypewriter-Light", serif;
  font-size: 30px;
  padding: 30px 40px;
  background: white;
  text-align: left;
  margin-left: 10%;
}

.guest-info p {
  margin: 8px 0;
  line-height: 1.6;
}

.confirmation-section {
  font-family: "FzAmericanTypewriter-Light", serif;
  font-size: 30px;
  padding: 30px 40px;
  background: white;
  text-align: center;
}

.confirmation-section strong {
  color: #8b0000;
  font-size: 30px;
  display: block;
  margin: 15px 0;
}

.signature {
  font-family: "SVN Magellin", serif;
  font-size: 40px;
  font-style: italic;
  text-align: center;
  padding: 20px;
}

.countdown-section {
  padding: 30px 40px;
  /* text-align: center; */
  margin-top: -210px;
  margin-left: 10%;
}

.countdown-title {
  font-family: "SVN Magellin", serif;
  font-size: 50px;
  font-style: italic;
  /* margin: 10px 0; */
}

.countdown {
  font-family: "SVN Magellin", serif;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 2px;
}

/* =============================
   LARGE TABLET (≤1280px)
============================= */
@media (max-width: 1280px) {
  .header {
    height: 65vh;
  }
  .header-text {
    font-size: 3.5rem;
  }
  .header-quote {
    font-size: 1.3rem;
    bottom: 35%;
  }

  .save-date {
    width: 55%;
    margin-top: -70px;
  }
  .save-date h2,
  .save-date .date {
    font-size: 55px;
  }

  .couple-names h1,
  .couple-names .and {
    font-size: 80px;
  }

  .parent-section,
  .invitation-text {
    font-size: 26px;
  }

  .ceremony-details,
  .ceremony-details strong {
    font-size: 26px;
  }

  .photo-placeholder {
    height: 20vh;
    width: 60%;
  }

  #calendar-month {
    font-size: 32px;
  }
  .calendar th,
  .calendar td {
    width: 75px;
    height: 75px;
    font-size: 18px;
  }

  .important-event,
  .important-note {
    font-size: 2rem;
  }

  .important-note {
    margin: -5% 0px -10px 28%;
  }

  .timeline-message {
    font-size: 1.5rem;
  }

  .timeline-details {
    order: 1;
    padding: 0px;
    margin-left: 2%;
  }

  .timeline-grid {
    gap: 5px;
  }

  .timeline-item {
    font-size: 1.5rem;
    padding-left: 0;
    margin-left: 0;
    margin: 5px 0;
  }

  .timeline-photo-placeholder {
    height: 50vh;
    order: 2;
  }

  .album-section h3,
  .album-section-quote,
  .guest-section-guestbook {
    font-size: 32px;
  }

  .guest-info,
  .confirmation-section {
    font-size: 24px;
  }

  .signature,
  .countdown-title {
    font-size: 32px;
  }

  .countdown-section {
    margin-top: -15%;
    margin-left: 5%;
  }

  .countdown {
    font-size: 32px;
  }
}

/* =============================
   TABLET (≤768px)
============================= */
@media (max-width: 768px) {
  .container {
    border-width: 4px;
  }

  .header {
    height: 55vh;
  }
  .header-text {
    font-size: 2.3rem;
  }
  .header-quote {
    font-size: 1.2rem;
    bottom: 30%;
  }

  .save-date {
    width: 55%;
    margin-top: -45px;
  }
  .save-date h2,
  .save-date .date {
    font-size: 32px;
  }

  .couple-names h1,
  .couple-names .and {
    font-size: 48px;
  }

  .parents {
    padding: 0 20px;
  }

  .parent-section,
  .invitation-text {
    font-size: 20px;
  }

  .photo-placeholder {
    width: 80%;
    height: 25vh;
  }

  .ceremony-details,
  .ceremony-details strong {
    font-size: 22px;
    padding: 10px;
    line-height: 1;
  }

  #calendar-month {
    font-size: 24px;
  }
  .calendar th,
  .calendar td {
    width: 45px;
    height: 45px;
    font-size: 14px;
  }

  .important-event {
    font-size: 24px;
  }

  .important-note {
    font-size: 1.2rem;
    margin: -5% 0px -10px 28%;
  }

  .timeline-photo-placeholder {
    height: 40vh;
    order: 2;
  }

  .timeline-details {
    order: 1;
    padding: 10px;
    margin-left: 2%;
  }

  .timeline-grid {
    gap: 5px;
  }

  .timeline-item {
    font-size: 1rem;
    padding-left: 0;
    margin-left: 0;
    margin: 5px 0;
  }

  .timeline-message {
    font-size: 1.2rem;
  }

  .guest-info {
    font-size: 18px;
    padding: 20px;
  }

  .confirmation-section {
    font-size: 18px;
  }

  .signature {
    font-size: 28px;
  }

  .countdown-section {
    margin-top: -18%;
    margin-left: 5%;
  }

  .countdown-title {
    font-size: 24px;
  }
  .countdown {
    font-size: 20px;
  }
}

/* =============================
   MOBILE (≤480px)
============================= */
@media (max-width: 480px) {
  .container {
    border-width: 3px;
  }

  .header {
    height: 45vh;
  }

  .header-text {
    font-size: 1.5rem;
  }

  .header-quote {
    font-size: 0.6rem;
    bottom: 38%;
  }

  .save-date {
    width: 65%;
    margin-top: -35px;
  }

  .save-date h2,
  .save-date .date {
    font-size: 1.8rem;
  }

  .couple-names {
    padding-top: 10px;
  }

  .couple-names h1,
  .couple-names .and {
    font-size: 2rem;
  }

  .parent-section,
  .invitation-text {
    font-size: 1rem;
  }

  .photo-placeholder {
    width: 90%;
    height: 20vh;
    min-height: 150px;
  }

  .ceremony-details,
  .ceremony-details strong {
    font-size: 1rem;
    line-height: 1;
  }

  #calendar-month {
    font-size: 18px;
  }

  .calendar th,
  .calendar td {
    width: 35px;
    height: 35px;
    font-size: 12px;
  }

  .important {
    padding: 10px;
  }

  .important-event {
    font-size: 1rem;
  }

  .important-note {
    font-size: 1rem;
    /* text-align: center; */
    margin: -5% 0px -10px 28%;
  }

  .timeline {
    padding: 0;
  }

  .timeline-details {
    padding: 0;
    margin-left: 2%;
  }

  .timeline-grid {
    gap: 5px;
  }

  .timeline-item {
    font-size: 0.8rem;
    padding-left: 0;
    margin-left: 0;
    margin: 5px 0;
  }

  .timeline-message {
    padding-top: 5%;
    font-size: 0.8rem;
  }

  .album-section h3,
  .album-section-quote,
  .guest-section-guestbook {
    font-size: 1.4rem;
  }

  .guest-info {
    font-size: 0.8rem;
  }

  .confirmation-section,
  .confirmation-section strong {
    font-size: 1rem;
    padding: 0;
  }

  .countdown-section {
    margin-top: -25%;
    margin-left: 5%;
  }

  .countdown-title,
  .countdown {
    font-size: 1.2rem;
  }

  .signature {
    font-size: 1.4rem;
  }
}

/* =============================
   EXTRA SMALL (≤330px)
============================= */
@media (max-width: 330px) {
  .header {
    height: 35vh;
  }

  .header-text {
    font-size: 1rem;
  }
  .header-quote {
    font-size: 0.6rem;
  }

  .save-date {
    width: 65%;
    margin-top: -20px;
  }

  .save-date h2,
  .save-date .date {
    font-size: 1rem;
  }

  .couple-names h1,
  .couple-names .and {
    font-size: 1rem;
  }

  .parent-section,
  .invitation-text {
    font-size: 0.6rem;
  }

  .photo-placeholder {
    width: 80%;
    height: 10vh;
    min-height: 150px;
  }

  .ceremony-details,
  .ceremony-details strong {
    font-size: 0.8rem;
    line-height: 1;
  }

  .calendar th,
  .calendar td {
    width: 28px;
    height: 28px;
    font-size: 10px;
  }

  .important {
    padding: 10px;
  }

  .important-event {
    font-size: 1rem;
  }

  .important-note {
    font-size: 1rem;
    /* text-align: center; */
    margin: -5% 0px -10px 28%;
  }

  .timeline-photo-placeholder {
    height: 15vh;
    width: 95%;
    order: 2;
  }

  .timeline-details {
    order: 1;
    padding: 10px;
    margin-left: 2%;
  }

  .timeline-grid {
    gap: 0px;
  }

  .timeline-item {
    font-size: 0.6rem;
    padding-left: 0;
    margin-left: 0;
  }

  .guest-info,
  .confirmation-section {
    font-size: 12px;
  }

  .countdown-section {
    margin-top: -26%;
    /* margin-left: 2%; */
    padding: 10px 10px;
  }

  .countdown {
    font-size: 0.6rem;
  }
}
