@font-face {
  font-family: "SVN Magellin";
  src: url("../fonts/SVN-Magellin.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TH Maginia";
  src: url("../fonts/TH-Maginia.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FzAmericanTypewriter-Light";
  src: url("../fonts/FzAmericanTypewriter-Light.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FzAmericanTypewriter-LightIta";
  src: url("../fonts/FzAmericanTypewriter-LightIta.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FzAmericanTypewriter-MedIta";
  src: url("../fonts/TH-FzAmericanTypewriter-MedIta.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FzAmericanTypewriter-Medium";
  src: url("../fonts/FzAmericanTypewriter-Medium.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "FzAmericanTypewriter-Medium", "Times New Roman", serif;
  background: linear-gradient(135deg, #f5f5f5 0%, #e8e8e8 100%);
  /* padding: 20px; */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  /* max-width: 600px; */
  width: 100%;
  background: white;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  border: 8px solid #8b0000;
  position: relative;
}

.header {
  background: url("../images/Layout2535_05.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

.header-text {
  font-family: "SVN Magellin", serif;
  color: white;
  text-align: center;
  font-style: italic;
  font-size: 105px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.header-quote {
  font-family: "FzAmericanTypewriter-Light", serif;
  color: white;
  text-align: center;
  font-style: italic;
  font-size: 47px;
  position: absolute;
  bottom: 32%;
}

.save-date {
  background: #8b0000;
  color: white;
  /* padding: 2px 4px; */
  text-align: center;
  margin: -110px auto 0;
  width: 670px;
  position: relative;
  z-index: 2;
}

.save-date h2 {
  font-family: "FzAmericanTypewriter-Light", serif;
  font-size: 80px;
  font-style: italic;
  margin-bottom: 0px;
}

.save-date .date {
  font-family: "FzAmericanTypewriter-Light", serif;
  font-size: 80px;
  font-weight: bold;
  margin-bottom: -10px;
}

.couple-names {
  text-align: center;
  padding: 40px 30px 20px;
}

.couple-names h1 {
  font-family: "TH Maginia", serif;
  font-size: 100px;
  color: #333;
  margin-bottom: 15px;
  font-weight: 300;
  letter-spacing: 1px;
}

.couple-names .and {
  font-family: "TH Maginia", serif;
  font-size: 100px;
  font-style: italic;
  margin: -30px 0 -10px;
  color: #666;
}

.parents {
  text-align: center;
  padding: 2px 40px;
  font-size: 15px;
  color: #555;
  line-height: 1.8;
}

.parents-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 15px;
}

.parent-section {
  font-family: "FzAmericanTypewriter-Medium", serif;
  font-size: 40px;
}

.parent-section h3 {
  font-weight: bold;
  margin-bottom: 8px;
}

.parent-section p {
  font-family: "FzAmericanTypewriter-Light", serif;
}

.invitation-text {
  font-family: "FzAmericanTypewriter-Light", serif;
  font-size: 40px;
}

.wedding-photo {
  text-align: center;
}

.photo-placeholder {
  width: 40%;
  height: 30vh;
  background: url("../images/Layout2535_05.jpg") no-repeat center center;
  background-size: cover;
  background-color: #f0f0f0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
}

.ceremony-details {
  font-family: "FzAmericanTypewriter-Light", serif;
  font-size: 40px;
  text-align: center;
  line-height: 1;
  color: #333;
}

.ceremony-details strong {
  font-size: 40px;
  display: block;
  margin: 10px 0;
}

.calendar {
  text-align: center;
  padding: 20px;
}

#calendar-month {
  font-family: "SVN Magellin", serif;
  font-size: 40px;
}

.calendar table {
  margin: 15px auto;
  border-collapse: collapse;
}

.calendar th,
.calendar td {
  width: 80px;
  height: 80px;
  text-align: center;
  font-size: 20px;
}

.calendar th {
  font-weight: bold;
  color: #666;
  padding-bottom: 5px;
}

.calendar .highlight {
  background: #000000;
  color: white;
  border-radius: 50%;
  position: relative;
}

.calendar .highlight::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
}

.important {
  text-align: center;
}

.important-event {
  font-family: "SVN Magellin", serif;
  font-size: 40px;
  font-style: italic;
  /* margin: 10px 0; */
}

.important-note {
  font-family: "FzAmericanTypewriter-Light", serif;
  font-size: 40px;
  font-style: italic;
  margin: -50px 0px -10px 300px;
}

.timeline {
  padding: 20px 40px;
  background: #f9f9f9;
}

.timeline-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 15px;
  margin-top: 20px;
}

.timeline-photo-placeholder {
  width: 80%;
  height: 80vh;
  background: url("../images/Layout2535_05.jpg") no-repeat center center;
  background-size: cover;
  background-color: #f0f0f0;
  margin: 0 auto;
  display: flex;
  align-items: left;
  justify-content: center;
  color: #999;
}

.timeline-details {
  margin-left: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.timeline h3 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.timeline-item {
  font-family: "FzAmericanTypewriter-Light", serif;
  font-size: 40px;
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.timeline-item .time {
  /* width: 120px; */
  /* font-weight: bold; */
  color: #333;
}

.timeline-message {
  font-family: "FzAmericanTypewriter-Light", serif;
  font-size: 40px;
  text-align: center;
  font-style: italic;
  color: #555;
  line-height: 1.3;
  padding-top: 40px;
}

.album-section {
  text-align: center;
  padding: 20px;
  background: #f5f5f5;
}

.album-section h3 {
  font-family: "FzAmericanTypewriter-Light", serif;
  font-size: 40px;
  margin-bottom: 10px;
}

.album-section p {
  font-style: italic;
}

.album-section-quote {
  font-family: "SVN Magellin", serif;
  font-size: 40px;
  font-style: italic;
  margin: 10px 0;
}

.album-section-guestbook {
  font-family: "SVN Magellin", serif;
  font-size: 40px;
  font-style: italic;
  margin: 10px 0;
}

.guest-info {
  font-family: "FzAmericanTypewriter-Light", serif;
  font-size: 30px;
  padding: 30px 40px;
  background: white;
  text-align: left;
  margin-left: 20%;
}

.guest-info p {
  margin: 8px 0;
  line-height: 1.6;
}

.confirmation-section strong {
  color: #8b0000;
  font-size: 30px;
  display: block;
  margin: 15px 0;
}

.confirmation-section {
  font-family: "FzAmericanTypewriter-Light", serif;
  font-size: 30px;
  padding: 30px 40px;
  background: white;
  text-align: center;
}


/* .footer {
  text-align: center;
  padding: 30px;
  background: #8b0000;
  color: white;
}

.footer .signature {
  font-size: 24px;
  font-style: italic;
  margin-bottom: 10px;
} */

.signature {
  font-family: "SVN Magellin", serif;
  font-size: 40px;
  font-style: italic;
  /* margin-top: -200px; */
  text-align: center;
}

.countdown-section {
  margin-top: -210px;
  margin-left: 10%;
}

.countdown-title {
  font-family: "SVN Magellin", serif;
  font-size: 40px;
  font-style: italic;
  margin: 10px 0;
}

.countdown-title {
  font-family: "SVN Magellin", serif;
  font-size: 40px;
  font-style: italic;
  margin: 10px 0;
}

.countdown {
  font-family: "SVN Magellin", serif;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 2px;
}

@media (max-width: 768px) {
  .container {
    border-width: 4px;
    max-width: 600px;
  }

  .header {
    height: 20vh;
  }

  .header-text {
    font-size: 24px;
  }

  .couple-names h1 {
    font-size: 32px;
  }

  .parents-grid {
    grid-template-columns: 1fr;
  }
}
